.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  .containerlogin{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid gray;
    border-radius: 9px;
    padding: 20px 30px;
  }
  #name,#pass{
    width: 96.5%;
    padding: 14px;
    margin-top: 5px;
    border: 1px solid #d7d6d6;
  }
  #register_btn,#lgn_btn{
    width: 36%;
    margin-left: 29%;
    margin-top: 5px;
    padding: 5px;
    background-color: #399ff8;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(240, 235, 225);
  }